
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

.coin-page{
    display: flex;
    padding: 20px;
}
.coin-sidebar{
    border-right: 1px solid gray;
    padding: 20px;
    width: 30%;
}
.coin-image{
    height: 200px;
    margin-bottom: 20px;
}
.coin-name{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
}
.coin-desc{
    width: 100%;
    padding-bottom: 15px;
    padding-top: 0;
    text-align: justify;
    color: lightgray;
    margin-bottom: 10px;
}
.coin-market{
    display: flex;
}
.coin-market > h4{
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}
.coin-marketdata{
    font-size: 20px;
}
.coin-authbtn{
    margin-top: 50px;
    width: 200px;
    height: 50px;
    font-size: 16px;
    font-weight: 600;
    color: whitesmoke;
    background-color: #2190FF;
    border: none;
    border-radius: 9px;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
}
.coin-authbtn:hover{
    color: #2190FF;
    background-color: whitesmoke;
}
.coin-rmbtn{
    margin-top: 50px;
    width: 200px;
    height: 50px;
    font-size: 16px;
    font-weight: 600;
    color: whitesmoke;
    background-color: rgb(161, 31, 31);
    border: none;
    border-radius: 9px;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
}
.coin-rmbtn:hover {
    color: rgb(161, 31, 31);
    background-color: whitesmoke;
}

@media(max-width: 1500px){
    .coin-page{
        display: flex;
        flex-direction: column;
    }
    .coin-sidebar {
        border-right: none;
        padding: 20px;
        width: 100%;
        align-items: center;
    }
    .coin-authbtn{
        width: 150px;
        font-size: 14px;
    }
    .coin-rmbtn{
        width: 150px;
        font-size: 14px;
    }
}