.carousel{
    display: flex;
    flex-direction: column;
    align-items: center ;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}
.carousel-detail{
    margin-top: 6px;
    
}
.carousel-detail > span{
    margin-right: 3px;
}
.carouse-24hr{
    margin-top: 10px;
}